@media screen and (min-width:993px) and (max-width:1500px) {


    header {
        background-color: rgb(255, 251, 240);
        padding: 0px 40px;
        width: 100vw;
        margin: 0 auto;
    }

    nav {
       
        background-image: none;
      
    }

    header nav .icon {
        display: none;
    }

    nav img {
        width: 292px;
        height: 40px;

    }

    nav ul {
        list-style-type: none;
        gap: 50px;
    }

    nav ul li a {
        display: inline-block;
        text-decoration: none;
        color: rgb(60, 60, 60);
        font-size: 16px;
        font-weight: 500;
    }

    /* ==========================================================Header Section Banner Design start==================================================>*/
    .banner {
     
        padding: 50px 0px 100px;
        align-items: center;
        justify-content: space-between;

    }

    .banner .content {
        flex-direction: column;
        gap: 8px;

    }

    .banner .content h1 {
        font-family: "Bebas Neue", serif;
        font-size: 80px;
        font-weight: 700;
        color: rgb(54, 57, 88);
    }

    .banner .content p {
        width: 60%;
        color: rgb(62, 62, 62);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
    }

    .banner .right {
        height: 600px;
        width: 600px;
        padding: 50px;

    }

    .banner .right .photo {
        background-image: url(icon/Group\ 33091.png);
        height: 500px;
        width: 500px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;


    }

    .banner .right .photo img {
        position: absolute;
        height: 135%;
        width: 95%;
        bottom: 0;
        left: 25px;


    }

    /* ========================================================== Jacket Section Banner Design start==================================================>*/




    .category {
        width: calc(100vw - 40px);
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 30px;
        font-family: Bebas Neue;
     
      

    }

    .category>span {
        color: rgb(54, 57, 88);
        font-family: Bebas Neue;
        font-size: 48px;
        font-weight: 700;
        display: block;
        margin-bottom: 30px;

    }

    .category .jacket .card {
        padding: 18px 18px 25px;
        border-radius: 20px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
        background: rgb(255, 255, 255);
        flex-direction: column;

    }

    .cover {
        background-color: rgb(241, 241, 241);
        padding: 40px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .jacket {
        gap: 5px;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }


    .jacket h3 {
        color: rgb(54, 57, 88);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0px;
    }

    .jacket p {
        color: rgb(62, 62, 62);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
        width: calc(100% - 30px);
    }

    .price {
        align-items: center;
    }

    .price span {
        color: rgb(250, 190, 76);
        font-family: Roboto;
        font-size: 36px;
        font-weight: 900;
    }


    /* ========================================================== Support Section Banner Design start==================================================>*/

    .support {

        width: calc(100vw - 80px);
        margin: 0 auto;
        padding-bottom: 50px;
        font-family: Bebas Neue;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 85px;
        margin-top: 100px;
       

    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .sp-card {
        border-radius: 20px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
        background: rgb(255, 255, 255);
        padding: 25px;
        display: flex;
        min-height: 180px;


    }

    .sp-card .sp-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sp-card .sp-icon img {
        width: 100px;
        height: auto;
    }

    .sp-card .sp-content {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-left: 16px;
        padding-right: 10px;

    }

    .sp-card .sp-content span {
        color: rgb(54, 57, 88);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        display: block;
    }

    .sp-card .sp-content p {
        color: rgb(62, 62, 62);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }


    .right img {
        min-width: 500px;
    }








}

